.entity {  }
.entity h1 { font-size: 20px; font-weight: bold; font-style: italic; border-bottom: 1px solid whitesmoke; margin: 10px 10px }
.entity table {  }
.entity table tbody tr td:nth-child(1) { font-weight: bold; text-decoration: underline }