.entity { border-bottom: 1px solid whitesmoke; padding: 10px 60px; margin-bottom: 20px; align-content: center; }
.entity h1 { font-size: 20px; font-weight: bold; font-style: italic; border-bottom: 1px solid whitesmoke }
.entity table {  }
.entity table tbody tr td:nth-child(1) { white-space: nowrap; text-decoration: underline; }
.entity table tbody tr td:nth-child(2) { white-space: nowrap; padding-left: 20px; }
